@import url('https://fonts.googleapis.com/css?family=Charmonman|IBM+Plex+Mono|Mali|Roboto+Slab|Rubik&subset=latin-ext');

body{
    overflow: hidden;
    font-size: 16px;
}

h1{
    font-family: "Roboto Slab", serif;
    text-align: center;
    font-size: 3rem;
    color: rgb(79, 39, 1);
    
}

a:link, a:visited{
    font-family: Rubik, serif;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 2px solid #222;
    border-radius: 15px;
    background: white;
    padding: 25px;    
    width: 60%;
    margin: 5px auto;
    color: #222;
}

a:hover{
   background: #eee;
}



.container{
    width: 75%;
    margin: 50px auto;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-top: 50px;
    background: rgb(243, 193, 154);
    border-radius: 15px;
    max-width: 750px;
}